@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins';
}

.profile {
    display: flex;
    align-items: center; 
  }
  
  .profile button {
    margin-right: 10px; 
    width: 70px;
  }

  button {
    padding: 10px 5px;
    margin-left:20px;
    background-color: #fff; 
    color: black; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #000; 
    color: #fff; 
  }

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 25px;
    margin-left: 10px;
}